# Quarto
/.quarto/
/_site/

# Python virtual environments
/.venv/
venv/

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.swp
*.swo
*~

# Temporary files
*.tmp
*.bak

**/*.quarto_ipynb
